$bg: #272A36;
$bg-secondary: #222530;
$primary: #5436CC;
$txt-body: #646C77;
$fs-sm:  16px;
$fs-md: 2.5rem;
$fs-lg: 4rem;
$trans: 0.25s ease-in-out;
$brdr:  1px solid #646C77;

$sc-sm: 576px;
$sc-md: 768px;
$sc-lg: 992px;
$sc-xl: 1200px;
$sc-xxl: 1400px;

@mixin sm {
    @media (max-width: $sc-sm) {
        @content;
    }
}

@mixin md {
    @media (max-width: $sc-md) {
        @content;
    }
}


@mixin min-md {
    @media (min-width: $sc-md) {
        @content;
    }
}


@mixin min-lg {
    @media (min-width: $sc-lg) {
        @content;
    }
}

html{
    scroll-behavior: smooth !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    scroll-behavior: smooth !important;
    cursor: none !important;
    @include md {
        cursor: default !important;
    }
}

body {    
    font-family: "Poppins", sans-serif;
    background: $bg;
    transition: $trans;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}


button{
    &:hover {
        cursor: none !important;
        @include md {
            cursor: pointer !important; 
        }
    }
    &:focus {
        outline: none;

        box-shadow: none !important;
    }
}

a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

// ? Navbar - Start ?//
.navbar {
    background: $bg;
    transition: $trans;
    z-index: 10;
    
    .navbar-brand {
        font-size: $fs-sm;
        .logo{
            height: 2rem;
            min-height: 2rem;
        }
    }

    .navbar-toggler {
        border: none;
        
        .navbar-toggler-icon{
            @include md {

                cursor: pointer !important;
            }
            color: white;
        }
    }

    .navbar-nav {
        @include sm {
            height: 100vh;
            padding: 2.5rem 0;
        }
 
        .nav-item{

            @include sm {
                margin: 0 auto;
                padding: 1.5rem 0 1rem 0;
            }
            
            .btn_cv{
                border: $brdr;
                font-size: $fs-sm;
                border-radius: 10px;
                transition: $trans;

                @include sm {
                    font-size: $fs-sm;
                }

                &:hover {
                    opacity: 0.7;
                }

            }

            .nav-link{
                font-size: $fs-sm;
                transition: $trans;

                @include sm {
                    font-size: 1.5rem;
                }

                &:hover {
                    opacity: 0.7;
                }
            }

            .actlink {
                font-weight: 300;
            }
        }
    }
}
// * Navbar - End ?//

// ? Header - Start ? //
.header {
    padding: 10rem 1rem;

    @include md {
        padding: 8rem 0.5rem 3rem 0.5rem;
    }

    .container-lg {
        .row{
            display: flex;
            align-items: center;
            
            .aboutMe {
 
                h3 {
                    font-size: 2.3em; 
                    letter-spacing: -1px;
                     @include md {
                        font-size: 2rem;
                        line-height: 3rem;
                        letter-spacing: -0.5px;
                    }
                    @include sm {
                        font-size: 1.5em;
                        line-height: 2rem;
                        letter-spacing: -0.5px;
                    }
                }

                p{
                    color: $txt-body;
                }

                .title {
                    font-size: 13px;
                    font-weight: 450;
                }

                .desc{
                    font-size: 16px;
                    font-weight: 450;
                     
                    @include md{
                        font-size: 16px;
                    }
                    
                }

                .ctas {
                    display: flex;
                    @include md {
                        flex-direction: column;
                    }


                    .ctaWork{
                        background: $primary;
                        padding: 0.75rem 1rem;
                        border-radius: 10px;
                        position: relative;
                        transition: $trans;

                        span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        }

                        .icon{
                           transition: $trans;

                        }

                        &:hover {
                            box-shadow: 0px 0px 15px rgba(84, 54, 204, 0.4);
                        }

                        @include sm {
                            padding: 1rem 2rem;
                            font-size: 1rem;
                        }

                        @include md {                            
                            justify-content: center;
                        }

       
                    }
                    
                    .ctaContact {
                        padding: 0.75rem;
                        border-radius: 10px;
                        border: $brdr;
                        transition: $trans;

                        &:hover {
                            opacity: 0.7;
                        }

                         @include sm {
                            padding: 1rem 2rem;
                            font-size: 1rem;
                        }
                    }
                }

            }

            .NameHead {
                .title{
                    font-size: 3.8rem;
                    font-weight: bold;

                   @include md {
                        font-size: 2.8rem;
                    }

                    @include sm {
                        font-size: 2.7rem;
                    }

                    span{
                        color: $primary;
                    }

                }
            }

            .col-12 {
                position: relative;
                
                @include sm {
                    padding: 0 1rem 2rem 1rem;
                }
            }
        }
    }

}
// * Header - End ? //

// ? Work - Start ? //

#work {
    background: $bg-secondary;    
    padding: 10rem 1rem;

    @include md {
        padding: 5rem 1rem;
    }

    .title {
         .gallery-title{
        font-size: 3.8rem;
        font-weight: bold;

        @include md {
            font-size: 2.8rem;
        }

        @include sm {
            font-size: 2.7rem;
        }

        span{
            color: $primary;
        }

    }

    .sub {
        color: $txt-body;        
        font-weight: 450;
    }
    }

    .filter-sort {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0;
        transition: $trans;

        @include md {
            position: sticky;
            align-items: center;
            top: 5rem;
            left:0;
            z-index: 3;
            background: $bg-secondary;
            padding: 1.5rem 0 0rem 0;
            justify-content: center;
        }


        .filter-button {
            color: white;
            font-size: 18px;
            margin: 1rem;
            transition: $trans;
            position: relative;         

            @include md {
                margin: 0 0.5rem;
                font-size: 20px;
            }

            @include min-md {
                    &:after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: $primary;
                    opacity: 0;
                    transition: $trans;
                    border-radius: 10px;
                }

                &:hover:after {
                    opacity: 1;
                }
            }

        }
    }
    
    .gallery_product{
        position: relative;
        transition: $trans;

    

        @include min-lg {
              &:hover:before {
            opacity: 0.7;
            }
            &:hover:after {
                opacity: 1;
                transform:  translateY(0px);
            }
        }      

        &:before {
            content: "";
            position: absolute;
            display: block;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 1;
            transition: $trans;
            background: $primary;
            pointer-events: none;
        }
        
        &:after {
            content: "See Case Study";
            position: absolute;
            display: block;
            bottom: 10%;
            left: 40%;
            transform: translateY(20px);
            font-size: 1.7em;
            z-index: 2;
            color: white;            
            transition: $trans;
            font-weight: 450;
            opacity: 0;
            pointer-events: none;
        }

       img {
           width: 100%;
           z-index: 1;
           height: auto;

       }
    }

}

// * Work - End ? //

// ? Sidebar - Start ? //

#sidebar{
    z-index: 4;
    min-width: 250px;
    margin-left: -250px;
    max-width: 250px;
    height: 100%;
    background: #2C303F;
    color: #fff;
    transition: all 0.3s;
        
    @include min-lg {
        display: none;
    }


   &.active {
        margin-left: 0px;
    }

    .sidebar-header{
        padding: 2.5rem 2rem;
        background: #2C303F;
        
    }

     ul li a{
        padding: 1rem;
        border-radius: 7px;
        cursor: pointer;
        font-size: 1em;
        display: block;

        &:hover{
        color: #ffffff;    
        cursor: pointer !important;
        background: #34394b;
      }
    }
     
}

// * Sidebar - End ? //


// ? Contacts - Start ? //

// * Contacts - End ? //
