html {
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  scroll-behavior: smooth !important;
  cursor: none !important;
}

@media (max-width: 768px) {
  * {
    cursor: default !important;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background: #272A36;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

button:hover {
  cursor: hidden !important;
}

@media (max-width: 768px) {
  button:hover {
    cursor: pointer !important;
  }
}

button:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.title_ {
  font-size: 3.8rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .title_ {
    font-size: 2.8rem;
  }
}

@media (max-width: 576px) {
  .title_ {
    font-size: 2.7rem;
  }
}

.title_ span {
  color: #4977f1;
}

.sub_ {
  color: #646C77;
  font-size: 16px;
}

.navbar {
  background: #272A36;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  z-index: 10;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 0.5rem;
  }
}

.navbar .navbar-brand {
  font-size: 16px;
}

.navbar .navbar-brand .logo {
  height: 1.25rem;
}

.navbar .navbar-toggler {
  border: none;
  padding: 0;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  color: white;
}

@media (max-width: 768px) {
  .navbar .navbar-toggler .navbar-toggler-icon {
    cursor: pointer !important;
  }
}

@media (max-width: 576px) {
  .navbar .navbar-nav {
    height: 100vh;
    padding: 2.5rem 0;
  }
}

@media (max-width: 576px) {
  .navbar .navbar-nav .nav-item {
    margin: 0 auto;
    padding: 1.5rem 0 1rem 0;
  }
}

.navbar .navbar-nav .nav-item .btn_cv {
  border: 1px solid #646C77;
  font-size: 16px;
  border-radius: 10px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media (max-width: 576px) {
  .navbar .navbar-nav .nav-item .btn_cv {
    font-size: 16px;
  }
}

.navbar .navbar-nav .nav-item .btn_cv:hover {
  opacity: 0.7;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media (max-width: 576px) {
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
  }
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  opacity: 0.7;
}

.navbar .navbar-nav .nav-item .actlink {
  font-weight: 300;
}

.header {
  padding: 10rem 1rem;
}

@media (max-width: 768px) {
  .header {
    padding: 8rem 1rem 3rem 1rem;
  }
}

.header .container-md .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container-md .row .aboutMe h3 {
  font-size: 2.3em;
  letter-spacing: -1px;
}

@media (max-width: 768px) {
  .header .container-md .row .aboutMe h3 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -0.5px;
  }
}

@media (max-width: 576px) {
  .header .container-md .row .aboutMe h3 {
    font-size: 1.5em;
    line-height: 2rem;
    letter-spacing: -0.5px;
  }
}

.header .container-md .row .aboutMe p {
  color: #646C77;
}

.header .container-md .row .aboutMe .title {
  font-size: 13px;
  font-weight: 450;
}

.header .container-md .row .aboutMe .desc {
  font-size: 16px;
  font-weight: 450;
}

@media (max-width: 768px) {
  .header .container-md .row .aboutMe .desc {
    font-size: 16px;
  }
}

.header .container-md .row .aboutMe .ctas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .header .container-md .row .aboutMe .ctas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .container-md .row .aboutMe .ctas .ctaWork {
  background: #4977f1;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  position: relative;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header .container-md .row .aboutMe .ctas .ctaWork span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .container-md .row .aboutMe .ctas .ctaWork .icon {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header .container-md .row .aboutMe .ctas .ctaWork:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(96, 122, 214, 0.4);
          box-shadow: 0px 0px 15px rgba(96, 122, 214, 0.4);
}

@media (max-width: 576px) {
  .header .container-md .row .aboutMe .ctas .ctaWork {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .header .container-md .row .aboutMe .ctas .ctaWork {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .container-md .row .aboutMe .ctas .ctaContact {
  padding: 0.75rem;
  border-radius: 10px;
  border: 1px solid #646C77;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header .container-md .row .aboutMe .ctas .ctaContact:hover {
  opacity: 0.7;
}

@media (max-width: 576px) {
  .header .container-md .row .aboutMe .ctas .ctaContact {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}

.header .container-md .row .col-12 {
  position: relative;
}

@media (max-width: 576px) {
  .header .container-md .row .col-12 {
    padding: 0 1rem 2rem 1rem;
  }
}

#work {
  background: #222530;
  padding: 10rem 0rem;
}

@media (max-width: 768px) {
  #work {
    padding: 5rem 0.7rem;
  }
}

#work .sub {
  color: #646C77;
  font-weight: 450;
}

#work .filter-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media (max-width: 992px) {
  #work .filter-sort {
    position: -webkit-sticky;
    position: sticky;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 5rem;
    left: 0;
    z-index: 3;
    background: #222530;
    padding: 1rem 0 0rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#work .filter-sort .filter-button {
  color: white;
  font-size: 15px;
  margin: 1rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  position: relative;
}

@media (max-width: 768px) {
  #work .filter-sort .filter-button {
    margin: 0 0.5rem;
  }
}

@media (min-width: 768px) {
  #work .filter-sort .filter-button:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #4977f1;
    opacity: 0;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    border-radius: 10px;
  }
  #work .filter-sort .filter-button:hover:after {
    opacity: 1;
  }
}

#work .gallery_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

@media (min-width: 992px) {
  #work .gallery_product:hover:before {
    opacity: 0.7;
  }
  #work .gallery_product:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#work .gallery_product:before {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background: #4977f1;
  pointer-events: none;
}

#work .gallery_product:after {
  content: "Read More";
  position: absolute;
  display: block;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  font-size: 1.7em;
  z-index: 2;
  color: white;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  font-weight: 450;
  opacity: 0;
  pointer-events: none;
}

#work .gallery_product img {
  width: 100%;
  z-index: 1;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#sidebar {
  z-index: 4;
  min-width: 250px;
  margin-left: -250px;
  max-width: 250px;
  height: 100%;
  background: #2C303F;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 992px) {
  #sidebar {
    display: none;
  }
}

#sidebar.active {
  margin-left: 0px;
}

#sidebar .sidebar-header {
  padding: 2.5rem 2rem;
  background: #2C303F;
}

#sidebar ul li a {
  padding: 1rem;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #ffffff;
  cursor: pointer !important;
  background: #34394b;
}

#contacts {
  padding: 8.5rem 0.7rem;
}

@media (max-width: 576px) {
  #contacts {
    padding: 7rem 0.7rem 3rem 0.7rem;
  }
}

#contacts .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

@media (max-width: 768px) {
  #contacts .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#contacts .icons li {
  list-style: none;
  margin: 0 2rem 0 0;
}

#contacts .icons li .icon {
  font-size: 3rem;
  color: #646C77;
}

#contacts form {
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 10px;
  background: #2C303E;
}

@media (max-width: 576px) {
  #contacts form {
    padding: 1rem;
    margin: 1rem 0;
  }
}

#contacts form label {
  color: white;
  margin-bottom: 0.5rem;
}

#contacts form input, #contacts form textarea {
  background: #303444;
  color: white;
  border: none;
}

#contacts form textarea {
  min-height: 5rem;
  max-height: 10rem;
}

#contacts form .sub-btn {
  background: #4977f1;
  display: block;
  margin: 2rem 0;
  width: 100%;
  color: white;
}
/*# sourceMappingURL=style.css.map */